doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    title Tutoria
    |    
    link(rel='stylesheet', href='../css/grid.css')
    |  
    |     
    link(rel='stylesheet', href='../css/style.css')
  body
    .page
      header.media_center
        .container
          .brand
            h1.brand_name
              img(src='/images/UCP.png', alt='UCP Logo', width='500')
              |                         
              .header_cnt
                h3
                  strong &iquest;Tienes dudas con alguna materia?
                |                             
                h5
                  span
                    strong Pide tu tutoria con un profesor de la UCP
                |                             
                a.btn(href='./formulario', target='_blank') Pedir Tutoria
